In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://data.scorenetwork.org/data/boston_marathon_2023.csv')  
df

,age_group,place_overall,place_gender,place_division,name,team,bib_number,half_time,finish_net,finish_gun,gender,half_time_sec,finish_net_sec,finish_gun_sec,finish_net_minutes
0,18-39,1,1,1,"Chebet, Evans",Team–,1,1H 2M 20S,2H 5M 54S,2H 5M 54S,M,3740.0,7554,7554,125.900000
1,18-39,2,2,2,"Geay, Gabriel",Team–,3,1H 2M 20S,2H 6M 4S,2H 6M 4S,M,3740.0,7564,7564,126.066667
2,18-39,3,3,3,"Kipruto, Benson",Team–,5,1H 2M 19S,2H 6M 6S,2H 6M 6S,M,3739.0,7566,7566,126.100000
3,18-39,4,4,4,"Korir, Albert",Team–,19,1H 2M 20S,2H 8M 1S,2H 8M 1S,M,3740.0,7681,7681,128.016667
4,18-39,5,5,5,"Talbi, Zouhair",Team–,31,1H 2M 20S,2H 8M 35S,2H 8M 35S,M,3740.0,7715,7715,128.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,75-79,25856,10994,8,"Bryan, T. J.",Team–,24573,2H 21M 27S,5H 28M 48S,5H 29M 29S,W,8487.0,19728,19769,328.800000
26594,75-79,26144,11158,9,"Hung, Patty",Team–,15933,2H 37M 0S,5H 40M 37S,5H 40M 58S,W,9420.0,20437,20458,340.616667
26595,75-79,26203,11188,10,"Tattersall, Theresa",Team–,24570,2H 41M 25S,5H 42M 59S,5H 46M 38S,W,9685.0,20579,20798,342.983333
26596,80+,25010,10544,1,"Sabourin, Helen",Team–,24569,2H 31M 18S,5H 4M 6S,5H 4M 37S,W,9078.0,18246,18277,304.100000
26597,80+,25149,10615,2,"Rigney, Hansi",Team–,24567,2H 33M 28S,5H 7M 42S,5H 7M 48S,W,9208.0,18462,18468,307.700000

In [4]:
df.to_csv('results_marathon_boston_2023.csv')

In [5]:
df_women_win = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/3112745/5389070/Womens_Boston_Marathon_Winners.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240304%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240304T144946Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=72950e98ee1830c5eab868d6a144f5fcd7aa4a2be2de865c312a04c12cb8664d3a285cee88958ef69236fb9a7216a866c6117d28c2ce2298f90f5737b8677533ea43158675a7cce608824ac90f69f821cb4c57b152f4eccc4db58b8643c4f49447ab1042437c3c4c4b4be57c5829f0d51621f137db081eb768fa5c45c3a9dd0ac2535d5bf9ed222bdcba5155b1accca12d51a568fcccb07413fb93493e6f99602e7573ccafac488eeaaf3ec9fe1f5137053a08299d66733056c8546b7069d5067c8cd3c661585329e1b1f04b658ec5e2517ad32537a16734688aa3d06968afe2f3c5b3b8bb5306854a78f2885ad69b1dfc95c84ee6acf3c0e45aa36ffbabb484')  
df_women_win

,Year,Winner,Country,Time,Distance (Miles),Distance (KM)
0,1966.0,Bobbi Gibb,United States,3:21:40,26.2,42.2
1,1967.0,Bobbi Gibb,United States,3:27:17,26.2,42.2
2,1968.0,Bobbi Gibb,United States,3:30:00,26.2,42.2
3,1969.0,Sara Mae Berman,United States,3:22:46,26.2,42.2
4,1970.0,Sara Mae Berman,United States,3:05:07,26.2,42.2
5,1971.0,Sara Mae Berman,United States,3:08:30,26.2,42.2
6,1972.0,Nina Kuscsik,United States,3:10:26,26.2,42.2
7,1973.0,Jacqueline Hansen,United States,3:05:59,26.2,42.2
8,1974.0,Miki Gorman,United States,2:47:11,26.2,42.2
9,1975.0,Liane Winter,Germany,2:42:24,26.2,42.2
10,1976.0,Kim Merritt,United States,2:47:10,26.2,42.2
11,1977.0,Miki Gorman,United States,2:48:33,26.2,42.2
12,1978.0,Gayle Barron,United States,2:44:52,26.2,42.2
13,1979.0,Joan Benoit,United States,2:35:15,26.2,42.2
14,1980.0,Jacqueline Gareau,Canada,2:34:28,26.2,42.2
15,1981.0,Allison Roe,New Zealand,2:26:46,26.2,42.2
16,1982.0,Charlotte Teske,Germany,2:29:33,26.2,42.2
17,1983.0,Joan Benoit,United States,2:22:43,26.2,42.2
18,1984.0,Lorraine Moller,New Zealand,2:29:28,26.2,42.2
19,1985.0,Lisa Larsen Weidenbach,United States,2:34:06,26.2,42.2
20,1986.0,Ingrid Kristiansen,Norway,2:24:55,26.2,42.2
21,1987.0,Rosa Mota,Portugal,2:25:21,26.2,42.2
22,1988.0,Rosa Mota,Portugal,2:24:30,26.2,42.2
23,1989.0,Ingrid Kristiansen,Norway,2:24:33,26.2,42.2
24,1990.0,Rosa Mota,Portugal,2:25:24,26.2,42.2
25,1991.0,Wanda Panfil,Poland,2:24:18,26.2,42.2
26,1992.0,Olga Markova,Russia,2:23:43,26.2,42.2
27,1993.0,Olga Markova,Russia,2:25:27,26.2,42.2
28,1994.0,Uta Pippig,Germany,2:21:45,26.2,42.2
29,1995.0,Uta Pippig,Germany,2:25:11,26.2,42.2
30,1996.0,Uta Pippig,Germany,2:27:12,26.2,42.2
31,1997.0,Fatuma Roba,Ethiopia,2:26:23,26.2,42.2
32,1998.0,Fatuma Roba,Ethiopia,2:23:21,26.2,42.2
33,1999.0,Fatuma Roba,Ethiopia,2:23:25,26.2,42.2
34,2000.0,Catherine Ndereba,Kenya,2:26:11,26.2,42.2
35,2001.0,Catherine Ndereba,Kenya,2:23:53,26.2,42.2
36,2002.0,Margaret Okayo,Kenya,2:20:43,26.2,42.2
37,2003.0,Svetlana Zakharova,Russia,2:25:19,26.2,42.2
38,2004.0,Catherine Ndereba,Kenya,2:24:27,26.2,42.2
39,2005.0,Catherine Ndereba,Kenya,2:25:12,26.2,42.2
40,2006.0,Rita Jeptoo,Kenya,2:23:38,26.2,42.2
41,2007.0,Lidiya Grigoryeva,Russia,2:29:18,26.2,42.2
42,2008.0,Dire Tune,Ethiopia,2:25:25,26.2,42.2
43,2009.0,Salina Kosgei,Kenya,2:32:16,26.2,42.2
44,2010.0,Teyba Erkesso,Ethiopia,2:26:11,26.2,42.2
45,2011.0,Caroline Kilel,Kenya,2:22:36,26.2,42.2
46,2012.0,Sharon Cherop,Kenya,2:31:50,26.2,42.2
47,2013.0,Rita Jeptoo,Kenya,2:26:25,26.2,42.2
48,2014.0,Buzunesh Deba,Ethiopia,2:19:59,26.2,42.2
49,2015.0,Caroline Rotich,Kenya,2:24:55,26.2,42.2
50,2016.0,Atsede Baysa,Ethiopia,2:29:19,26.2,42.2
51,2017.0,Edna Kiplagat,Kenya,2:21:52,26.2,42.2
52,2018.0,Desiree Linden,United States,2:39:54,26.2,42.2
53,2019.0,Worknesh Degefa,Ethiopia,2:23:31,26.2,42.2
54,NaN,NaN,NaN,NaN,26.2,42.2
55,2021.0,Edna Kiplagat,Kenya,2:25:09,26.2,42.2
56,2022.0,Peres Jepchirchir,Kenya,2:21:02,26.2,42.2

In [ ]:
#https://storage.googleapis.com/kagglesdsdata/datasets/3112745/5389070/Womens_Boston_Marathon_Winners.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240304%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240304T144946Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=72950e98ee1830c5eab868d6a144f5fcd7aa4a2be2de865c312a04c12cb8664d3a285cee88958ef69236fb9a7216a866c6117d28c2ce2298f90f5737b8677533ea43158675a7cce608824ac90f69f821cb4c57b152f4eccc4db58b8643c4f49447ab1042437c3c4c4b4be57c5829f0d51621f137db081eb768fa5c45c3a9dd0ac2535d5bf9ed222bdcba5155b1accca12d51a568fcccb07413fb93493e6f99602e7573ccafac488eeaaf3ec9fe1f5137053a08299d66733056c8546b7069d5067c8cd3c661585329e1b1f04b658ec5e2517ad32537a16734688aa3d06968afe2f3c5b3b8bb5306854a78f2885ad69b1dfc95c84ee6acf3c0e45aa36ffbabb484

In [6]:
df_women_win.to_csv('marathon_boston_women_win.csv')

In [7]:
df_men_win = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/3112745/5389070/Mens_Boston_Marathon_Winners.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240304%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240304T145239Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=b4033897f285f26cf94cb0aa9f17d3098577486b329928dc1386325f0803a5c25e82d8078e721fff7d467bd83baa18e01042f7f886a87933928e514b727406e510bb1f7e0e060052d10dc7182ee5166d48433d9d6260c8acd298e30aecb4493e49c9b69add30d1821e1005a235bfc764c938ae097d9617457d91031ca53929831f8da30e393e199df72fdc4d54b2dacbb30e72784da8a9a5115a3c42cd45ea0668ede744091631875a67a6fbb3d51524ee9aec3f4027424a6fb640bc7658b3831a3e98c181cebe7adea699748efec5afa8fa719cad617ac3323d60928c2b8e3dfffcbef3cbce12edf52429836aa36d8f13463f728ea4f418d9a3d17009b3878f')  
df_men_win

,Year,Winner,Country,Time,Distance (Miles),Distance (KM)
0,1897.0,John McDermott,United States,02:55:10,24.5,39.4
1,1898.0,Ronald MacDonald,Canada,02:42:00,24.5,39.4
2,1899.0,Lawrence Brignolia,United States,02:54:38,24.5,39.4
3,1900.0,Jack Caffery,Canada,02:39:44,24.5,39.4
4,1901.0,Jack Caffery,Canada,02:29:23,24.5,39.4
...,...,...,...,...,...,...
121,2018.0,Yuki Kawauchi,Japan,02:15:58,26.2,42.2
122,2019.0,Lawrence Cherono,Kenya,02:07:57,26.2,42.2
123,NaN,NaN,NaN,NaN,NaN,NaN
124,2021.0,Benson Kipruto,Kenya,02:09:51,26.2,42.2
125,2022.0,Evans Chebet,Kenya,02:06:51,26.2,42.2

In [8]:
df_men_win.to_csv('marathon_boston_men_win.csv')

In [9]:
df_athletes_london_2022 = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/2600040/4440043/London_2022_elite_results.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240304%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240304T161248Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=8441ee1dbb7d9167265baadea0ad5948fab067060bb25cd93e37c383f3c94ba9bcedb623df45228531e8f4a6f557ab14c2363c7b9400c6b4c1abd614e17da43c2f0df559875b6c665fd0e632d7be6013a9a8b543ca9e2f89e396fa542980f83e2c843a2a8ee2832459c7d52186b4d6ce5ccd865ae7d6f45f5201ac5596c18909827418d780e79c042f770574f8ee7b7776638584f7396efe3ea08494a24756a46b1df9123139880c40d7efb731065060890cf5baf5dba46579a6acbd61ac8f3bc4a3bddab18df147830e7a4509198f2545e96331fcc2034b724e224ddffebf99509fc6b1c37254b378419cfc467aefeaf94242ac5aae84add4d3e0c1c088c734')  
df_athletes_london_2022

,Overall Place,Gender Place,Category Place,Name,Club,Runner Number,Gender,Category,Event,Half Time,Finish Time
0,1,1,NaN,"KIPRUTO, Amos (KEN)",–,NaN,M,–,Elite,1:02:14,02:04:39
1,2,2,NaN,"GEBRESILASE, Leul (ETH)",–,NaN,M,–,Elite,1:02:14,02:05:12
2,3,3,NaN,"ABDI, Bashir (BEL)",–,NaN,M,–,Elite,1:02:14,02:05:19
3,4,4,NaN,"ATANAW, Kinde (ETH)",–,NaN,M,–,Elite,1:02:14,02:05:27
4,5,5,NaN,"BEKELE, Kenenisa (ETH)",–,NaN,M,–,Elite,1:02:14,02:05:53
5,6,6,NaN,"LEGESE, Birhanu (ETH)",–,NaN,M,–,Elite,1:02:14,02:06:11
6,7,7,NaN,"LEMMA, Sisay (ETH)",–,NaN,M,–,Elite,1:02:15,02:07:26
7,8,8,NaN,"ROBINSON, Brett (AUS)",–,3.0,M,–,Elite,1:04:27,02:09:52
8,9,9,NaN,"GHEBRESILASIE, Weynay (GBR)",Shettleston,4.0,M,–,Elite,1:04:27,02:11:57
9,10,10,NaN,"SESEMANN, Philip (GBR)",Leeds,7.0,M,–,Elite,1:04:52,02:12:10
10,11,11,NaN,"FUTAOKA, Kohei (JPN)",–,2.0,M,–,Elite,1:04:53,02:14:18
11,12,12,NaN,"BRADEN, Ross (GBR)",Kent AC,0.0,M,–,Elite,1:06:07,02:14:32
12,13,13,NaN,"OKAMOTO, Naoki (JPN)",–,0.0,M,–,Elite,1:05:11,02:15:05
13,14,1,NaN,"YEHUALAW, Yalemzerf (ETH)",–,3.0,W,–,Elite,1:08:46,02:17:26
14,15,14,NaN,"LEACH, Matthew (GBR)",Bedford & County,9.0,M,–,Elite,1:06:07,02:17:28
15,16,15,NaN,"BOWKER, Nick (GBR)",Clapham Chaser,5.0,M,–,Elite,1:07:45,02:17:35
16,17,16,NaN,"LAWRENCE, Alexander (GBR)",Victoria Park & Tower Hamlets,3.0,M,–,Elite,1:07:45,02:17:58
17,18,2,NaN,"JEPKOSGEI, Joyciline (KEN)",–,1.0,W,–,Elite,1:08:46,02:18:07
18,19,3,NaN,"MEGERTU, Alemu (ETH)",–,8.0,W,–,Elite,1:08:46,02:18:32
19,20,4,NaN,"KORIR, Judith Jeptum (KEN)",–,7.0,W,–,Elite,1:08:46,02:18:43
20,21,5,NaN,"MELLY, Joan Chelimo (ROU)",–,5.0,W,–,Elite,1:08:46,02:19:27
21,22,6,NaN,"BEKERE, Ashete (ETH)",–,4.0,W,–,Elite,1:08:46,02:19:30
22,23,7,NaN,"NGUGI, Mary (KEN)",–,0.0,W,–,Elite,1:09:55,02:20:22
23,24,8,NaN,"KEBEDE, Sutume Asefa (ETH)",–,6.0,W,–,Elite,1:08:46,02:20:44
24,25,17,NaN,"MCCANN, Andrew (USA)",–,2.0,M,–,Elite,1:08:02,02:21:39
25,26,9,NaN,"HOSODA, Ai (JPN)",–,3.0,W,–,Elite,1:10:16,02:21:42
26,27,18,NaN,"AIBA, Naoki (JPN)",–,1.0,M,–,Elite,1:04:53,02:22:45
27,28,19,NaN,"ERENJIA, Jia (CHN)",–,6.0,M,–,Elite,1:04:53,02:25:17
28,29,10,NaN,"HARVEY, Rose (GBR)",Clapham Chasers,5.0,W,–,Elite,1:13:59,02:27:59
29,30,20,NaN,"KOWAL, Yoann (FRA)",–,8.0,M,–,Elite,1:04:53,02:27:59
30,31,21,NaN,"STRANGEWAY, William (GBR)",Lincoln Wellington,4.0,M,–,Elite,1:09:24,02:34:11
31,32,11,NaN,"KLIMEK, Marci (USA)",–,6.0,W,–,Elite,1:15:39,02:37:56
32,33,12,NaN,"TWELL, Stephanie (GBR)",Aldershot Farnham & District,4.0,W,–,Elite,1:13:59,02:39:16

In [10]:
df_athletes_london_2022.to_csv('london_marathon_athletes_2022.csv')