In [1]:
# https://worldathletics.org/world-rankings/marathon/women?page=1
# Page 1 à 17

In [2]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup as bs

In [3]:
names = []
Competitors = []
DOBS = []
Nats = []
scores = []
urls = []
EventLists = []

In [4]:
response = requests.get('https://worldathletics.org/world-rankings/marathon/women?page=17')

In [5]:
page_contents = response.text

In [6]:
soup = bs(response.text, 'lxml')

In [7]:
import re

def Rank(soup): # Gets the edition of the competition
    td_tags = soup.find_all('td', {'data-th' : "Rank"})
    for tag in td_tags:
        names.append(tag.text.strip())
    return names

def Competitor(soup): # Gets the date the competition is held
    Competitor = soup.find_all('td', {'data-th' : "Competitor"})
    for tags in Competitor:
        Competitors.append(tags.text.strip())
    return Competitors

def DOB(soup): # Gets the date the competition is held
    DOB = soup.find_all('td', {'data-th' : "DOB"})
    for tags in DOB:
        DOBS.append(tags.text.strip())
    return DOBS

def Nat(soup): # Gets the date the competition is held
    Nat = soup.find_all('td', {'data-th' : "Nat"})
    for tags in Nat:
        Nats.append(tags.text.strip())
    return Nats

def score(soup): # Gets the date the competition is held
    score = soup.find_all('td', {'data-th' : "score"})
    for tags in score:
        scores.append(tags.text.strip())
    return scores

def athletes_url(soup): # Gets the links to the results
    tbody = soup.find('tbody')
    tags = tbody.find_all('tr')
        ### the`re.compile gets href with the given string`
    base_url = 'https://www.worldathletics.org'
    for tag in tags:
        urls.append(base_url + tag.attrs.get('data-athlete-url', 'Not found'))
    return urls

def EventList(soup): # Gets the date the competition is held
    EventList = soup.find_all('td', {'data-th' : "EventList"})
    for tags in EventList:
        EventLists.append(tags.text.strip())
    return EventLists

athletics_dict = {
'Rank':Rank(soup),
'Competitor':Competitor(soup),
'DOB':DOB(soup),
'Nat':Nat(soup),
'Score':score(soup),
'EventList':EventList(soup),
'athletes_url':athletes_url(soup)
}

In [8]:
#athletics_dict

In [9]:
df = pd.DataFrame(athletics_dict)

In [10]:
df

,Rank,Competitor,DOB,Nat,Score,EventList,athletes_url
0,1601,Marianela BALINOTTI,13 OCT 1990,ARG,907,Marathon,https://www.worldathletics.org/athletes/argent...
1,1602,Marie KLOSTER,30 JUN 1981,NOR,907,Marathon [Half Marathon],https://www.worldathletics.org/athletes/norway...
2,1603,Mayumi YOSHIKAWA,04 SEP 1977,JPN,907,Marathon,https://www.worldathletics.org/athletes/japan/...
3,1604,Mònica COMAS,,ESP,906,Marathon [Half Marathon],https://www.worldathletics.org/athletes/spain/...
4,1605,Marie MARTINEZ,24 OCT 1983,FRA,906,Marathon [Half Marathon],https://www.worldathletics.org/athletes/france...
...,...,...,...,...,...,...,...
95,1696,Katie LAKIN,,USA,898,Marathon [Half Marathon],https://www.worldathletics.org/athletes/united...
96,1696,Kayo SHIMIZU,07 JUL 1981,JPN,898,Marathon,https://www.worldathletics.org/athletes/japan/...
97,1698,Megan TUMMINELLO,10 JUL 1989,AUS,897,Marathon [Half Marathon],https://www.worldathletics.org/athletes/austra...
98,1699,Shannon KOHLITZ,1988,USA,897,Marathon,https://www.worldathletics.org/athletes/united...
99,1700,Christina BILGRAV,,DEN,897,Marathon [Half Marathon],https://www.worldathletics.org/athletes/denmar...

In [11]:
#df.to_csv('info_athletes_women_2024.csv', index=False)

In [12]:
response = requests.get(f'{urls[0]}')
response

In [13]:
page_contents = response.text
#page_contents

In [14]:
soup = bs(response.text, 'lxml')
#soup

In [15]:
#firstName = []
#Competitors = []
#DOBS = []
#Nats = []
#scores = []
#urls = []
#EventLists = []

In [16]:
# Nationality
id_info = soup.find_all('div', {'class' : "profileBasicInfo_statValue__IXJTW"})
id_info[0].text.strip()

'Argentina'

In [17]:
# DOB
id_info[1].text.strip()

'13 OCT 1990'

In [18]:
# Athlete_Id
id_info[2].text.strip()

'15046287'

In [32]:
alpha = soup.find_all('tbody', {'class' : "profileStatistics_tableBody__1w5O9"})

In [33]:
alpha

[]

In [ ]:
//*[@id="__next"]/div[5]/div/div[2]/div/div[1]/div[2]/div[2]/table/tbody/tr[1]/td[1]/a