In [43]:
# Installation des packages et librairies dont on a besoin

In [1]:
import requests
import json
import pandas as pd

In [2]:
#stock_data = []
 
url = requests.get("https://api.results.scc-events.com/result?ek=BM&ci=BML&y=2022&draw=1&columns%5B0%5D%5Bdata%5D=platz&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=startnummer&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=false&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=nachname&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=false&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=vorname&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=false&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=verein&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=nation&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=false&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=sex&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B7%5D%5Bdata%5D=ak&columns%5B7%5D%5Bname%5D=&columns%5B7%5D%5Bsearchable%5D=true&columns%5B7%5D%5Borderable%5D=true&columns%5B7%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B7%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B8%5D%5Bdata%5D=ak_plazierung&columns%5B8%5D%5Bname%5D=&columns%5B8%5D%5Bsearchable%5D=true&columns%5B8%5D%5Borderable%5D=true&columns%5B8%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B8%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B9%5D%5Bdata%5D=netto&columns%5B9%5D%5Bname%5D=&columns%5B9%5D%5Bsearchable%5D=true&columns%5B9%5D%5Borderable%5D=true&columns%5B9%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B9%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B10%5D%5Bdata%5D=brutto&columns%5B10%5D%5Bname%5D=&columns%5B10%5D%5Bsearchable%5D=true&columns%5B10%5D%5Borderable%5D=true&columns%5B10%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B10%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B11%5D%5Bdata%5D=&columns%5B11%5D%5Bname%5D=&columns%5B11%5D%5Bsearchable%5D=true&columns%5B11%5D%5Borderable%5D=false&columns%5B11%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B11%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B12%5D%5Bdata%5D=&columns%5B12%5D%5Bname%5D=&columns%5B12%5D%5Bsearchable%5D=true&columns%5B12%5D%5Borderable%5D=false&columns%5B12%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B12%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=asc&start=0&length=43045&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1709293085027")
text = url.text  # type = str
#stock_data.append(text)

In [ ]:
# https://api.results.scc-events.com/result?ek=BM&ci=BML&y=2023&draw=1&columns%5B0%5D%5Bdata%5D=platz&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=startnummer&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=false&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=nachname&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=false&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=vorname&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=false&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=verein&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=nation&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=false&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=sex&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B7%5D%5Bdata%5D=ak&columns%5B7%5D%5Bname%5D=&columns%5B7%5D%5Bsearchable%5D=true&columns%5B7%5D%5Borderable%5D=true&columns%5B7%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B7%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B8%5D%5Bdata%5D=ak_plazierung&columns%5B8%5D%5Bname%5D=&columns%5B8%5D%5Bsearchable%5D=true&columns%5B8%5D%5Borderable%5D=true&columns%5B8%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B8%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B9%5D%5Bdata%5D=netto&columns%5B9%5D%5Bname%5D=&columns%5B9%5D%5Bsearchable%5D=true&columns%5B9%5D%5Borderable%5D=true&columns%5B9%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B9%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B10%5D%5Bdata%5D=brutto&columns%5B10%5D%5Bname%5D=&columns%5B10%5D%5Bsearchable%5D=true&columns%5B10%5D%5Borderable%5D=true&columns%5B10%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B10%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B11%5D%5Bdata%5D=&columns%5B11%5D%5Bname%5D=&columns%5B11%5D%5Bsearchable%5D=true&columns%5B11%5D%5Borderable%5D=false&columns%5B11%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B11%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B12%5D%5Bdata%5D=&columns%5B12%5D%5Bname%5D=&columns%5B12%5D%5Bsearchable%5D=true&columns%5B12%5D%5Borderable%5D=false&columns%5B12%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B12%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=asc&start=0&length=43045&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1709293085027

In [3]:
type(text)

str

In [6]:
# Charger les données en tant que dictionnaire
data_dict = json.loads(text)

In [8]:
dict_data = data_dict['data']

In [12]:
dict_data[43044]

{'id': 46966,
 'event': 'BMW BERLIN-MARATHON 2023',
 'ident': 'BML',
 'description': 'Laufen',
 'startnummer': '4006',
 'name': 'Görs, Kai',
 'vorname': 'Kai',
 'nachname': 'Görs',
 'sex': 'M',
 'jahrgang': 1977,
 'ak': '45',
 'nation': 'GER',
 'verein': 'Laufen ist mein Leben',
 'sex_plazierung': 28609,
 'platz': 43050,
 'ak_plazierung': 4033,
 'netto': '07:52:16',
 'brutto': '07:58:00',
 'z5': '00:46:55',
 'z10': '01:33:56',
 'z15': '02:24:12',
 'z20': '03:20:16',
 'halbmarathon': '03:32:04',
 'z25': '04:19:00',
 'z30': '05:20:16',
 'z35': '06:19:40',
 'z40': '07:22:57',
 'personen_id': 'HCH3C0OH23AED',
 'participant_id': 'HCH3C0OH7AAAB'}

In [13]:
data_list = []

# Récupérer les données de chaque entrée dans dict_data
for item in dict_data:
    data_list.append({
        'startnummer': item.get('startnummer', ''),
        'nachname': item.get('nachname', ''),
        'vorname': item.get('vorname', ''),
        'verein': item.get('verein', ''),
        'nation': item.get('nation', ''),
        'sex': item.get('sex', ''),
        'ak_plazierung': item.get('ak_plazierung', ''),
        'netto': item.get('netto', ''),
        'brutto': item.get('brutto', '')
    })

# Créer un DataFrame à partir de la liste de dictionnaires
df = pd.DataFrame(data_list)

# Afficher le DataFrame
print(df)

      startnummer   nachname     vorname                  verein nation sex  \
0               1   Kipchoge       Eliud                            KEN   M
1              69   Kipkemoi     Vincent                            KEN   M
2              68     Takele      Tadese                            ETH   M
3               7      Korir      Ronald                            KEN   M
4              13      Teklu       Haftu                            ETH   M
...           ...        ...         ...                     ...    ...  ..
43040        4936      Braun      Julian        Grüne Handschuhe    GER   M
43041       68970       Shah  Vijaykumar                            GBR   M
43042         649  Glomsaker       Kalle           MHI friidrett    NOR   M
43043       67281       RING     MICHAEL  Achilles International    USA   M
43044        4006       Görs         Kai   Laufen ist mein Leben    GER   M

       ak_plazierung     netto    brutto
0                  1  02:02:42  02:02:42
1                  1  02:03:13  02:03:13
2                  2  02:03:24  02:03:24
3                  1  02:04:22  02:04:22
4                  3  02:04:42  02:04:42
...              ...       ...       ...
43040           4494  07:39:17  07:56:17
43041            556  07:42:32  07:44:47
43042            557  07:48:45  07:54:20
43043           1522  07:50:01  07:58:40
43044           4033  07:52:16  07:58:00

[43045 rows x 9 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43045 entries, 0 to 43044
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   startnummer    43045 non-null  object
 1   nachname       43045 non-null  object
 2   vorname        43045 non-null  object
 3   verein         43045 non-null  object
 4   nation         43045 non-null  object
 5   sex            43045 non-null  object
 6   ak_plazierung  43045 non-null  int64
 7   netto          43045 non-null  object
 8   brutto         43045 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.0+ MB

In [15]:
df.describe()

       ak_plazierung
count   43045.000000
mean     1544.863422
std      1128.382858
min         0.000000
25%       609.000000
50%      1351.000000
75%      2239.000000
max      4717.000000

In [16]:
df.head()

,startnummer,nachname,vorname,verein,nation,sex,ak_plazierung,netto,brutto
0,1,Kipchoge,Eliud,,KEN,M,1,02:02:42,02:02:42
1,69,Kipkemoi,Vincent,,KEN,M,1,02:03:13,02:03:13
2,68,Takele,Tadese,,ETH,M,2,02:03:24,02:03:24
3,7,Korir,Ronald,,KEN,M,1,02:04:22,02:04:22
4,13,Teklu,Haftu,,ETH,M,3,02:04:42,02:04:42

In [17]:
df = df.drop_duplicates()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43045 entries, 0 to 43044
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   startnummer    43045 non-null  object
 1   nachname       43045 non-null  object
 2   vorname        43045 non-null  object
 3   verein         43045 non-null  object
 4   nation         43045 non-null  object
 5   sex            43045 non-null  object
 6   ak_plazierung  43045 non-null  int64
 7   netto          43045 non-null  object
 8   brutto         43045 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.0+ MB

In [19]:
df.to_csv('marathon_Berlin_2023.csv', index=False)