In [1]:
# Installation des packages et librairies dont on a besoin

In [2]:
import requests
import json
import pandas as pd

In [3]:
#stock_data = []
 
url = requests.get("https://api.results.scc-events.com/result?ek=BM&ci=BML&y=2022&draw=1&columns%5B0%5D%5Bdata%5D=platz&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=startnummer&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=false&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=nachname&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=false&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=vorname&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=false&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=verein&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=nation&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=false&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=sex&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B7%5D%5Bdata%5D=ak&columns%5B7%5D%5Bname%5D=&columns%5B7%5D%5Bsearchable%5D=true&columns%5B7%5D%5Borderable%5D=true&columns%5B7%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B7%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B8%5D%5Bdata%5D=ak_plazierung&columns%5B8%5D%5Bname%5D=&columns%5B8%5D%5Bsearchable%5D=true&columns%5B8%5D%5Borderable%5D=true&columns%5B8%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B8%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B9%5D%5Bdata%5D=netto&columns%5B9%5D%5Bname%5D=&columns%5B9%5D%5Bsearchable%5D=true&columns%5B9%5D%5Borderable%5D=true&columns%5B9%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B9%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B10%5D%5Bdata%5D=brutto&columns%5B10%5D%5Bname%5D=&columns%5B10%5D%5Bsearchable%5D=true&columns%5B10%5D%5Borderable%5D=true&columns%5B10%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B10%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B11%5D%5Bdata%5D=&columns%5B11%5D%5Bname%5D=&columns%5B11%5D%5Bsearchable%5D=true&columns%5B11%5D%5Borderable%5D=false&columns%5B11%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B11%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B12%5D%5Bdata%5D=&columns%5B12%5D%5Bname%5D=&columns%5B12%5D%5Bsearchable%5D=true&columns%5B12%5D%5Borderable%5D=false&columns%5B12%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B12%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=asc&start=0&length=34745&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1709293085027")
text = url.text  # type = str
#stock_data.append(text)

In [4]:
# https://api.results.scc-events.com/result?ek=BM&ci=BML&y=2023&draw=1&columns%5B0%5D%5Bdata%5D=platz&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=startnummer&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=false&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=nachname&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=false&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=vorname&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=false&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=verein&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=nation&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=false&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=sex&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B7%5D%5Bdata%5D=ak&columns%5B7%5D%5Bname%5D=&columns%5B7%5D%5Bsearchable%5D=true&columns%5B7%5D%5Borderable%5D=true&columns%5B7%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B7%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B8%5D%5Bdata%5D=ak_plazierung&columns%5B8%5D%5Bname%5D=&columns%5B8%5D%5Bsearchable%5D=true&columns%5B8%5D%5Borderable%5D=true&columns%5B8%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B8%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B9%5D%5Bdata%5D=netto&columns%5B9%5D%5Bname%5D=&columns%5B9%5D%5Bsearchable%5D=true&columns%5B9%5D%5Borderable%5D=true&columns%5B9%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B9%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B10%5D%5Bdata%5D=brutto&columns%5B10%5D%5Bname%5D=&columns%5B10%5D%5Bsearchable%5D=true&columns%5B10%5D%5Borderable%5D=true&columns%5B10%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B10%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B11%5D%5Bdata%5D=&columns%5B11%5D%5Bname%5D=&columns%5B11%5D%5Bsearchable%5D=true&columns%5B11%5D%5Borderable%5D=false&columns%5B11%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B11%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B12%5D%5Bdata%5D=&columns%5B12%5D%5Bname%5D=&columns%5B12%5D%5Bsearchable%5D=true&columns%5B12%5D%5Borderable%5D=false&columns%5B12%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B12%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=asc&start=0&length=43045&search%5Bvalue%5D=&search%5Bregex%5D=false&_=1709293085027

In [5]:
type(text)

str

In [6]:
# Charger les données en tant que dictionnaire
data_dict = json.loads(text)

In [7]:
dict_data = data_dict['data']

In [9]:
dict_data[34743]

{'id': 38124,
 'event': 'BMW BERLIN-MARATHON 2022',
 'ident': 'BML',
 'description': 'Laufen',
 'startnummer': '70469',
 'name': 'VERAZA, RICARDO',
 'vorname': 'RICARDO',
 'nachname': 'VERAZA',
 'sex': 'M',
 'jahrgang': 1963,
 'ak': '55',
 'nation': 'MEX',
 'verein': 'RUN FRIENDS',
 'sex_plazierung': 23246,
 'platz': 34751,
 'ak_plazierung': 2109,
 'netto': '07:49:09',
 'brutto': '07:53:48',
 'z5': '00:46:42',
 'z10': '01:39:52',
 'z15': '02:34:20',
 'z20': '03:32:25',
 'halbmarathon': '03:44:49',
 'z25': '04:32:41',
 'z30': '05:31:41',
 'z35': '06:27:58',
 'z38': '07:06:14',
 'z40': '07:24:54',
 'personen_id': 'HCH3C0OH36E1D',
 'participant_id': 'HCH3C0OH51076'}

In [10]:
data_list = []

# Récupérer les données de chaque entrée dans dict_data
for item in dict_data:
    data_list.append({
        'startnummer': item.get('startnummer', ''),
        'nachname': item.get('nachname', ''),
        'vorname': item.get('vorname', ''),
        'verein': item.get('verein', ''),
        'nation': item.get('nation', ''),
        'sex': item.get('sex', ''),
        'ak_plazierung': item.get('ak_plazierung', ''),
        'netto': item.get('netto', ''),
        'brutto': item.get('brutto', '')
    })

# Créer un DataFrame à partir de la liste de dictionnaires
df = pd.DataFrame(data_list)

# Afficher le DataFrame
print(df)

      startnummer   nachname   vorname                 verein nation sex  \
0               1   Kipchoge     Eliud                           KEN   M
1               5      Korir      Mark                           KEN   M
2               8      Abate      Tadu                           ETH   M
3              26     Belihu  Andamlak                           ETH   M
4              25  Kipchumba      Abel                           KEN   M
...           ...        ...       ...                    ...    ...  ..
34740       18079     Giesen     André                           GER   M
34741        4006       Görs       Kai  Laufen ist mein Leben    GER   M
34742        2785      Wildt       Uwe                           GER   M
34743       70469     VERAZA   RICARDO            RUN FRIENDS    MEX   M
34744       50193      Ahern     Carol                           IRL   W

       ak_plazierung     netto    brutto
0                  1  02:01:09  02:01:09
1                  1  02:05:58  02:05:58
2                  1  02:06:28  02:06:28
3                  2  02:06:40  02:06:40
4                  3  02:06:49  02:06:49
...              ...       ...       ...
34740           2108  07:42:32  07:45:57
34741           3511  07:45:20  07:54:30
34742            449  07:46:47  07:46:56
34743           2109  07:49:09  07:53:48
34744           1412  07:53:05  07:58:46

[34745 rows x 9 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34745 entries, 0 to 34744
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   startnummer    34745 non-null  object
 1   nachname       34745 non-null  object
 2   vorname        34745 non-null  object
 3   verein         34745 non-null  object
 4   nation         34745 non-null  object
 5   sex            34745 non-null  object
 6   ak_plazierung  34745 non-null  int64
 7   netto          34745 non-null  object
 8   brutto         34745 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.4+ MB

In [12]:
df.describe()

       ak_plazierung
count   34745.000000
mean     1264.169003
std       934.703130
min         0.000000
25%       493.000000
50%      1089.000000
75%      1827.000000
max      3826.000000

In [13]:
df.head()

,startnummer,nachname,vorname,verein,nation,sex,ak_plazierung,netto,brutto
0,1,Kipchoge,Eliud,,KEN,M,1,02:01:09,02:01:09
1,5,Korir,Mark,,KEN,M,1,02:05:58,02:05:58
2,8,Abate,Tadu,,ETH,M,1,02:06:28,02:06:28
3,26,Belihu,Andamlak,,ETH,M,2,02:06:40,02:06:40
4,25,Kipchumba,Abel,,KEN,M,3,02:06:49,02:06:49

In [14]:
df = df.drop_duplicates()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34745 entries, 0 to 34744
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   startnummer    34745 non-null  object
 1   nachname       34745 non-null  object
 2   vorname        34745 non-null  object
 3   verein         34745 non-null  object
 4   nation         34745 non-null  object
 5   sex            34745 non-null  object
 6   ak_plazierung  34745 non-null  int64
 7   netto          34745 non-null  object
 8   brutto         34745 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.4+ MB

In [16]:
df.to_csv('marathon_Berlin_2022.csv', index=False)