In [1]:
# Installation des packages et librairies dont on a besoin

In [2]:
import requests
import json
import pandas as pd

In [3]:
stock_data = []

for i in range(0, 34400,100):    
    url = requests.get(f"https://resultscui.active.com/api/results/events/SchneiderElectricMarathondeParis2022/participants?groupId=947610&routeId=170632&offset={i}&limit=100")
    text = url.text  # type = str
    stock_data.append(text)

In [4]:
#https://resultscui.active.com/api/results/events/SchneiderElectricMarathondeParis2022/participants?groupId=947610&routeId=170632&offset={i}&limit=100
#https://resultscui.active.com/api/results/events/SchneiderElectricMarathondeParis2022/participants?groupId=947610&routeId=170632&offset={i}&limit=10

In [5]:
type(stock_data)

list

In [6]:
data_list = []

# Parcourir chaque élément de stock_data
for entry in stock_data:
    # Charger l'élément en tant que dictionnaire
    entry_dict = json.loads(entry)
    
    # Parcourir chaque élément de 'items' dans l'entrée
    for item in entry_dict['items']:
        # Ajouter les données nécessaires à la liste
        data_list.append({
            'id': item['id'],
            'bib': item['bib'],
            'externalId': item['externalId'],
            'finishTime': item['finalResult']['finishTime'],
            'averageSpeed':item['finalResult']['averageSpeed'],
            'displayPace':item['finalResult']['displayPace'],
            'disqualified':item['finalResult']['disqualified'],
            'firstName': item['person']['firstName'],
            'lastName': item['person']['lastName'],
            'gender': item['person']['gender'],
            'age': item['person']['age'],
            'participantNumber': item['participantNumber']
        })

# Créer un DataFrame à partir de la liste de dictionnaires
df = pd.DataFrame(data_list)

# Afficher les premières lignes du DataFrame
print(df.head())

         id bib externalId            finishTime  averageSpeed displayPace  \
0  42063266   6  971331285  2022-04-03T00:05:07Z         20.23        2:58
1  42063273   2  971302386  2022-04-03T00:05:10Z         20.23        2:58
2  42063281  16  971358984  2022-04-03T00:05:22Z         20.19        2:58
3  42063286   5  971314087  2022-04-03T00:06:03Z         20.08        2:59
4  42063291   9  971331985  2022-04-03T00:06:27Z         20.02        3:00

   disqualified firstName lastName gender  age  \
0         False      Deso  GELMISA      M   24
1         False     Seifu     TURA      M   24
2         False    Morhad  AMDOUNI      M   33
3         False   Abeyneh     DEGU      M   23
4         False     Olika   ADUGNA      M   22

                                   participantNumber
0  147eaeb130d7639a8e2c18ba6724e0ddfb8271ec4c0187...
1  83329fb5dedd8e17a76dc84c975b014d1fbe50f52247cf...
2  8300671259741cf4d014df535285127fdf1b6ba1a28147...
3  d277fd7e08b4466ce71620a62bf5a41af6c2d6588fa9ee...
4  af068d9aee7fa7f346f6975372e7a7ad6f24efcfab24d6...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34365 entries, 0 to 34364
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 34365 non-null  int64
 1   bib                34365 non-null  object
 2   externalId         34365 non-null  object
 3   finishTime         34365 non-null  object
 4   averageSpeed       34365 non-null  float64
 5   displayPace        34365 non-null  object
 6   disqualified       34365 non-null  bool
 7   firstName          34365 non-null  object
 8   lastName           34365 non-null  object
 9   gender             34365 non-null  object
 10  age                34365 non-null  int64
 11  participantNumber  34365 non-null  object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 2.9+ MB

In [8]:
df.describe()

                 id  averageSpeed           age
count  3.436500e+04  34365.000000  34365.000000
mean   4.207760e+07     10.606219     39.216732
std    9.920465e+03      1.819332     10.935938
min    4.206041e+07      5.100000      9.000000
25%    4.206900e+07      9.330000     30.000000
50%    4.207760e+07     10.510000     39.000000
75%    4.208619e+07     11.710000     48.000000
max    4.209478e+07     20.230000     89.000000

In [9]:
df = df.drop_duplicates()

In [12]:
df.to_csv('marathon_paris_2022.csv', index=False)

In [11]:
pd.DataFrame(stock_data)

                                                     0
0    {"items":[{"id":42063266,"bib":"6","externalId...
1    {"items":[{"id":42063863,"bib":"646","external...
2    {"items":[{"id":42064542,"bib":"745","external...
3    {"items":[{"id":42066246,"bib":"6685","externa...
4    {"items":[{"id":42064428,"bib":"4631","externa...
..                                                 ...
339  {"items":[{"id":42093900,"bib":"63672","extern...
340  {"items":[{"id":42094577,"bib":"69901","extern...
341  {"items":[{"id":42093723,"bib":"74554","extern...
342  {"items":[{"id":42093934,"bib":"75669","extern...
343  {"items":[{"id":42094583,"bib":"73821","extern...

[344 rows x 1 columns]